.Header {
    display: flex;
    margin-bottom: 20px;
    background-color: #dedede;
    opacity: .75;
    height: 74px;
    width: 100%;
}

.Username {
    align-self: center;
}

.AddButton {
    margin-right: auto;
}

.Logo {
    margin: 15px 15px;
    height: 44px;
}

@media only screen and (max-width: 728px) {
    .Logo {
        display: none;
    }
}
