.Header {
    display: flex;
    background-color: #dedede;
    opacity: .75;
    height: 74px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.MainBody {
    position: fixed;
    margin-top: 74px;
    height: 90%;
    width: 100%;
}

.ScrollBody {
    display: flex;
    scroll-behavior: smooth;
    height: 100%;
    overflow: scroll;
}

.Logo {
    margin: 15px 15px;
    height: 44px;
}

@media only screen and (max-width: 728px) {
    .Logo {
        display: none;
    }
}
