.search {
    width: 90vw;
}

.searchbarsearchbar {
    outline: none;
    border-radius: 50px !important;
}

.TextField {
    outline: black 1px solid
}

.MuiTextField {
    border-radius: 50px !important;
}
